<html>

<head>
    <title>LoginPage</title>
    <link rel="styleSheet" href="css/login.css">
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/login.js"></script>
</head>

<body>
    <form>
        <fieldset>
            <label>Username:</label>
            <input type="text" id="userName">
            <br>
            <br>
            <label>Password:</label>
            <input type="password" id="passInput">
            <br>
            <br>
            <input type="checkbox" id="showPassword">Show Password
            <br>
            <br>
            <input type="checkbox" id="rememberMe">Remember Me
            <br>
            <br>
            <button>Login</button>
            <br>
            <br>
            <a href="/forgotpassword">Forgot Password</a>
            <a href="/registration">Registration</a>
        </fieldset>
    </form>
</body>

</html>