body {
    margin: 0;
    padding: 0;
    background: url('/img/lights.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  .login-box {
    width: 280px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 50px);
  }
  
  /* form {
      margin:0 auto;
      padding: 30px;
      width:500px;
    }
     */
  
  h1 {
    margin: -25px 0 -10px 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .login-box input {
    margin-top: -10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  
  .checkboxes label {
    font-size: 14px;
    display: block;
    margin: -10px;
    padding-right: 100px;
    padding-left: 150px;
    text-indent: -150px;
  }
  
  .checkboxes input {
    height: 15px;
    width: 20px;
  }
  
  .login-box input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin: 10px 0 18px 0;
  }
   
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
  }
  
  .login-box a {
    color: rgb(100, 35, 223);
    text-decoration: none;
    font-size: 14px;
    columns: #fff;
  }
  
  .login-box a:hover {
    color: #1c5e8e;
  }
  
  
  a {
    color: rgb(111, 31, 168);
    margin-right: 20px;
    margin-left: -5px;
  }